# Exercise 1

x = 3 ----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

In [5]:
x = 3
float(x)
type(x)

int

In [6]:
y=4.5
int(y)
type(y)

float

In [7]:
z = 8 
int(z)
type(z)

int

In [8]:
a = 12
float(a)
type(a)

int

In [9]:
b = 46.8
int(b)
type(b)

float

# Exercise 2

Üç değişken belirleyelim, bu değişkenler kişi adı olsun. Değişkenlere kişilerin yaşlarını atayalım. (ÖRN: ayse=22)

Belirlediğimiz üç değişkeni birbiriyle karşılaştırma operatörleri ile karşılatıralım. (ayse>mehmet)

Bu karşılaştırmalara mantıksal operatörleri de ekleyelim.

In [10]:
ayse = 22
ali = 24
fatma = 22

In [22]:
x = ayse > fatma
print(x)

y = ayse < ali
print(y)

z = ayse == fatma
print(z)

q = ayse != fatma 
print(q)

w = ayse >= fatma
print(w) 

e = ayse = fatma and ayse < ali
print(e)

r = ayse > fatma or ayse < ali
print (r)

t = not(ayse > ali)
print(t)

False
True
False
True
False
True
True
True

# Excercise 3

Kullanıcıdan iki değer girmesini isteyin. Girilen değerlerin toplama,çıkarma,çarpma,bölme sonuçlarını yazdıralım.

In [24]:
sayi1 = int(input("İlk sayıyı giriniz: "))
sayi2 = int(input("İkinci sayıyı giriniz: "))

print("Toplama Sonucu:", sayi1 + sayi2)
print("Çıkarma Sonucu:", sayi1 - sayi2)
print("Çarpma Sonucu:", sayi1 * sayi2)
print("Bölme Sonucu:", sayi1 / sayi2)

Toplama Sonucu: 59
Çıkarma Sonucu: -11
Çarpma Sonucu: 840
Bölme Sonucu: 0.6857142857142857

# Exercise 4

Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini isteyelim ve cevaplarını yazdıralım.

In [25]:
isim = input("Adınız: ")
yas = int(input("Yaşınız: "))
sehir = input("Şehriniz: ")
meslek = input("Mesleğiniz: ")

print("Adınız:", isim)
print("Yaşınız:", yas)
print("Şehriniz:", sehir)
print("Mesleğiniz:", meslek)

Adınız: Gökhan
Yaşınız: 23
Şehriniz: Kayseri
Mesleğiniz: Araştırmacı

# Exercise 5 

"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlayalım.
- İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçelim.
- İfadeyi hepsini büyük harf olacak hale çevirelim.  ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
- İfadeyi hepsini büyük harf olacak hale çevirelim.("hi-kod veri bilimi atölyesi")

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçelim. ("02468", "13579")

In [2]:
a = "Hi-Kod Veri Bilimi Atölyesi"

b = a.split(" ")
print(b)

c = ifade.upper()
print(c)


d = ifade.lower()
print(d)

'hi-kod veri bilimi atölyesi'

In [31]:

cift = ""
tek = ""
for number in "0123456789":
    if int(number) % 2 == 0:
        cift += number
    else:
         tek += number

print(cift)  # 02468
print(tek)  # 13579

02468
13579